<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated kgraph -->
      <package
            uri="http://eclipse.org/gef/KGraph"
            class="org.eclipse.gef4.kgraph.KGraphPackage"
            genModel="model/kgraph.genmodel"/>
   </extension>

</plugin>
